.product_container {

  .product {
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    gap: 5rem;

    .images {
      display: flex;
      column-gap: 2rem;

      .sm_images {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        .img {
          width: 70px;
          height: 70px;
          background-color: rgb(202, 202, 202);
          cursor: pointer;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }


      .lg_image {
        width: 300px;
        height: 300px;
        background-color: rgb(202, 202, 202);

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .details {

      h2 {
        text-transform: uppercase;
        font-weight: 500;
        margin-top: 10px;
      }

      p {

        span {
          margin-right: 20px;
        }

        .sp {
          font-size: 18px;
        }

        .mrp {
          font-size: 14px;
        }
      }

      .qty-buttons {
        display: flex;
        align-items: center;
        margin: 10px 0;

        button {
          background-color: #ddd;
          border: 1px solid #ccc;
          padding: 2px 10px;
          font-size: 16px;
          cursor: pointer;
        }

        span {
          margin: 0 15px;
          font-size: 16px;
        }
      }

      .buttons {
        margin: 20px 0;

        a {
          button {
            text-transform: uppercase;
            font-size: 16px;
            padding: 10px;
            color: white;
            background-color: #2e2eaa;
            border: 1px solid #2e2eaa;
            border-radius: 10px;
            margin-right: 30px;
            width: 150px;
            cursor: pointer;
          }

          button:hover {
            color: #2e2eaa;
            border: 1px solid #2e2eaa;
            background-color: transparent;
          }
        }
      }

      .about-product {
        margin: 10px 0;
      }

      .questions {
        .faq {
          margin: 10px 0;

          p {
            margin: 5px 0;
          }
        }
      }

      .benefits {

        ul {

          li {
            margin-left: 20px;
          }
        }
      }

    }
  }

  hr {
    margin: 40px;
  }

  .related_products {
    margin: 40px 10px;

    h2 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
    }

    .cards {
      margin: 20px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      padding: 5px;

      a {
        text-decoration: none;
        color: #000;

        .card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          text-align: center;
          padding: 5px;
          border: 1px solid rgb(211 200 200);
          transition: transform 0.2s;
          height: 350px;


          img {
            width: 200px;
            height: 180px;
            object-fit: cover;
          }

          .details {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 200px;

            p {
              text-transform: uppercase;
              margin-top: 5px;
              font-size: 14px;

              del {
                margin-left: 5px;
                font-size: 12px;
                color: #242424;
              }
            }
          }

          button {
            text-transform: uppercase;
            background-color: #2e2eaa;
            border: 1px solid #2e2eaa;
            color: white;
            cursor: pointer;
            font-size: 16px;
            padding: 5px 10px;
            border-radius: 5px;
            margin: 10px 0;
          }

          button:hover {
            background-color: transparent;
            color: #2e2eaa;
            border: 1px solid #2e2eaa;
          }
        }

        .card:hover {
          box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.356);
          transform: scale(1.08);
        }
      }
    }
  }
}

@media only screen and (min-width: 120px) and (max-width: 1023px) {
  .product_container {

    .product {
      flex-direction: column;
      gap: 1rem;

      .images {
        flex-direction: column-reverse;
        row-gap: 1rem;

        .sm_images {
          flex-wrap: wrap;
          flex-direction: row;
          column-gap: 1rem;
        }
      }

      .details {

        h2 {
          font-size: 18px;
          margin-bottom: 10px;
        }

        p {
          margin-bottom: 10px;
        }

        .qty-buttons {
          margin: 20px 0;
        }

        .buttons {
          margin: 20px 0 !important;

          a {

            button {
              background-color: rgb(0, 0, 255);
              font-size: 14px !important;
              margin-right: 15px !important;
              width: 120px !important;
            }
          }
        }
      }
    }

    .related_products {

      .cards {
        gap: 1rem;

        a {
          .card {
            column-gap: 1rem;
            transition: none !important;
            height: auto;

            img {
              width: 170px;
              height: 150px;
            }

            button {
              font-size: 14px;
            }
          }

          .card:hover {
            transform: none !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width:425px) {
  .product_container {
    .related_products {
      .cards {
        a {

          .card {
            flex-direction: row;
            width: 350px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width:375px) {
  .product_container {

    .product {
      padding: 20px 10px;

      .cards {

        a {

          .card {
            margin: 0 10px;

            img {
              width: 120px !important;
              height: 110px !important;
            }

            .details {
              p {
                font-size: 12px;
              }

              p:nth-child(2) {
                display: flex;
                flex-direction: column;
              }

              button {
                font-size: 11px;
              }
            }
          }
        }
      }
    }

    .related_products{

      .cards{
        a{

          .card{
            width: 300px;
            
            img{
              width: 150px !important;
            }

            .details {
              p {
                font-size: 13px;
              }

              button {
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }
}